.divmain h1{
    color: black;
    margin-top: 200px;
}



.divmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    margin-top:10px;
    /* height: auto; */
}

.orderdiv{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    color: #333; /* Adjust color as needed */
  }

/* .main{
    width: 100%;
    height: auto;
    /* height: 5%; */
    /* background-color: beige;
    border: 2px none;
    /* height: 220px; */
    /* margin: 3px;
    padding: 2px;
    padding-left: 10px;
    display: flex; */
    /* flex-direction: column; */ 
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border:2px solid blue; */


/* }    */

.container{
    width: 60vw;
     
    /* height: 5%; */
    background-color: beige;
    border: 2px none;
    /* height: 175px; */
    margin: 3px;
    padding: 2px;
    padding-left: 10px;
    display: flex;
    /* flex-direction: column   ; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border:2px solid blue; */

}

.box{
    /* height: 200px; */
    width: 70%    ;
    /* border: 2px solid red; */
    /* margin: 3px; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    
}

.box2{
    border: 2px solid red;
    width: 50%;
}

.box h3{
    margin-bottom: 2%;
}

.box h4{
    
    /* margin-left: 10%; */
    margin-bottom: 2%;   
}

.box p{
    /* margin-top: -2%; */
    margin-bottom:5%;
}

#box2{
    background-color: none;
    display: flex;
    height: 180px;
   
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* border:2px solid black; */
}
.box img{
    height: 80%;
    margin-top: 5px;
    width: 150px;
    border-radius: 10px;
    object-fit: cover !important;
    /* border:2px solid red; */

}




.line {
    height: 2px;
    width: 84%;
    background-color: #d3d3d3;
    margin: 3px 0;
    margin-left: 8%;
  }




/* Styles for tablet and mobile screens */
@media only screen and (max-width: 1023px) {
    .container {
        width: 100%; /* Adjust width for full width on smaller screens */
    }

    #box1 {
        width: 100%; /* Adjust width for full width on smaller screens */
    }
}